// Google Fonts
$poppins-fonts: 'Poppins', sans-serif;
$merriweather-fonts: 'Merriweather', serif;

@font-face{
    font-family: 'Parisienne';
    src: url('../fonts/Parisienne-Regular.ttf')format('TrueType');
}

@font-face {
    font-family: "DaunPenh";
    src: url("../fonts/DaunPenh.ttf") format("TrueType")
}   